body {
  background-color: #ffffff;
}

/* Điều chỉnh cho mobile */
@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}

/* Làm mất gạch của a:link */
a {
  text-decoration: none;
}

/* A Head */
#Support-us {
  color: red;
}
.bg-a {
  display: flex;
  justify-content: space-between; /* Đẩy 2 phần sang 2 bên */
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 0px 200px;
  box-sizing: border-box;
}
.Logo {
}
.Logo img {
  width: 100px;
  height: 76px;
  box-sizing: border-box;
}
.right-section {
  display: flex;
  gap: 15px; /* Khoảng cách giữa các mục */
}
.right-section a {
  color: #333;
  font-size: 20px;
}
.bg-a a:hover {
  color: rgb(0, 128, 58);
}

/* Welcome to my website */
.Titel-Page {
  background-color: #1abc54;
  padding: 15px;
  margin: 10px -10px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}

/* Profile-card */
.Profile-card {
  background-color: #f9f9f9;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  box-sizing: border-box;
}
.Profile-card h2 {
  color: #1abc54; /* Màu xanh nổi bật */
  font-size: 28px;
}
.Profile-card p {
  font-style: italic;
  font-size: 23px;
}
.Profile-img {
  margin: 10px auto;
  box-shadow: 0 4x 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  box-sizing: border-box;
}
.Profile-img img {
  width: 1000px;
  height: 319px;
  border-radius: 8px;
}

/* About me */
.bg-about-me {
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px 30px;
  max-width: 1000px;
  border: 2px solid green;
  box-sizing: border-box;
}

.Profile-about-me {
  color: #1abc54;
  font-size: 26px;
  font-weight: bold;
}
.bg-about-me p {
  color: #333333;
  font-size: 24px;
  line-height: 1.7;
  text-align: justify;
  margin-top: 10px;
}
.bg-about-me .Thanks {
  color: #1abc54;
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around; /* Căn chỉnh nội dung: khoảng cách giữa */
  padding: 20px;
  background-color: #f9f9f9; /* Nền sáng */
}

.footer-column {
  flex: 1; /* Khoảng cách giữa các cột */
  max-width: 300px;
  padding: 0 15px;
  line-height: 22px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: justify;
}
.footer-column h3 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
.footer-bottom-link {
  padding-left: 15px;
}
.footer-bottom-link a {
  color: rgb(51, 51, 51);
}

/* Logo */
.Logo-2 img {
  margin-top: -50px;
  max-width: 250px;
  max-height: 250px;
}

/* Quay về */
.Quay-về {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #2ecc71; /* Màu xanh */
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.Quay-về:hover {
  background-color: #27ae60;
}
