body {
  background-color: #ffffff;
}

/* Content */
.Content {
  margin: 20px;
}

/* A */
.Titel-Music {
  text-align: center;
  font-size: 25px;
}
.Titel-Music a {
  color: black;
}
.Titel-Music a:hover {
  color: rgb(0, 128, 58);
}
.Img-music {
  margin: 10px auto;
  box-shadow: 0 4x 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  box-sizing: border-box;
}
.Img-music img {
  max-width: 300px;
  border-radius: 3px;
}

/* H2 */
.Content {
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
.Content h2 {
  font-size: 27px;
  text-align: center;
  color: #1abc54;
}
.Content p {
  font-style: italic;
  font-size: 23px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}
.Content hr {
  margin: 10px -30px;
  border: 1px solid;
}
