body {
  background-color: #ffffff;
}

/* Music Album */
.Music-Album {
  background-color: #1abc54;
  padding: 15px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  color: #ffffff;
}
/* Content */
.Content {
  margin: 20px;
}

/* A */
.Content a {
  margin-left: 890px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
.Content a:hover {
  color: green;
}

/* H2 */
.Content h2 {
  margin-left: 890px;
  margin-bottom: -10px;
  font-size: 27x;
  color: #1abc54;
}

/* Img */
.Content img {
  margin: 10px 790px;
  width: 300px;
}
.Content p {
  font-style: italic;
  font-size: 23px;
  line-height: 1.5;
  text-align: justify;
}
.Content hr {
  margin: 10px -30px;
  border: 1px solid;
}
