.Support-us {
  color: red;
}
input:checked ~ a {
  display: none;
}
/* Màu của a */
.hover {
  color: black;
  font-size: 18px;
}
/* Khi di chuột */
.hover:hover {
  color: rgb(0, 128, 58);
}
/* Add a song */
div.back_ground {
  --tw-bg-opacity: 1;
  background-color: rgb(29 185 84 / var(--tw-bg-opacity, 1));
}
.font-semibold-aa {
  font-weight: 600;
}
.text-white {
  font-size: 18px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.font-bold-aa {
  font-weight: 700;
}
.mt-4 {
  margin-top: 1rem;
}
.underline {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.text-xs {
  font-size: 0.8rem;
  line-height: 1rem;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.mt-1 {
  margin-top: 0.25rem;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
